@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {
    --primary-color: rgb(172, 208, 255);
    --primary-color-darker: rgb(144, 174, 212);
    --secondary-color: #0060dd;
}
* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Poppins';
    font-size: 1.3em;
    line-height: 1.5em;
}

form input, form label, form button {
    display: block;
    width:100%;
    margin-bottom: 20px;
}

form label {
    color: rgb(255, 228, 196);
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 10px;
}

form input:focus {
    outline: 2px solid var(--primary-color);
}
form button {
    border:none;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

form button:hover{
    background: var(--primary-color-darker);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
}

#hp{
    color: bisque;
}

.temporizador{
    color: bisque;
    font-size: 3em;
}

.pausado{
    color: red;
}